<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MAP_WIDTH" value="40" />
		<add key="MAP_HEIGHT" value="40" />
		<add key="MENU_WIDTH" value="20" />
		<add key="MENU_MARGIN" value="2" />
		<add key="CANVAS_WIDTH" value="120" />
		<add key="CANVAS_HEIGHT" value="40" />
	</appSettings>
</configuration>